.galleria style="height: 100%;"

javascript:
  Galleria.loadTheme('assets/galleria/themes/classic/galleria.classic.min.js');
  Galleria.run('.galleria', {
    flickr: 'set:72157637614753233',
    flickrOptions: {
      sort: 'date-posted-asc'
    }
  });