/*Extra small screens only*/

@media (max-width: 768px) {
  .col-md-4 {
    height: 350px !important;
  }

  .right-content {
    padding: 30px 5%;
  }

  .info-bar-bottom {
    margin-bottom: 40px;
  }
}

/*Small screens only*/

@media (min-width: 768px) and (max-width: 992px) {
  .col-md-4 {
    height: 576px !important;
  }

  .right-content {
    padding: 40px 10%;
  }
}

/*Extra small and small screens*/

@media (max-width: 992px) {
  .info-bar {
    background-position: left bottom;
  }
}

/*Medium and large screens*/

@media (min-width: 992px) {
  body {
    overflow: hidden;
  }

  .col-md-8 {
    height: 100%;
  }

  .info-bar {
    background-position: left;
  }

  .right-content {
    padding: 50px 85px;
  }
}