@font-face {
  font-family: 'Myriad';
  src:url('MYRIADPRO-REGULAR.OTF');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad';
  src:url('MYRIADPRO-BOLD.OTF');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad';
  src:url('MYRIADPRO-SEMIBOLD.OTF');
  font-weight: semibold;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad';
  src:url('MYRIADPRO-BOLDIT.OTF');
  font-weight: semibold;
  font-style: italic;
}