.col-md-4 {
  padding: 0;
  height: 100%;
}
.info-bar {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-image:url('https://s3-us-west-2.amazonaws.com/justsaywen/david_wen_new_york_city.JPG');
  background-size: cover;
}
.right-content {
  position: absolute;
}
.col-md-8 {
  padding: 0;
  height: 100%;
}