body {
  height: 100%;
}

.container {
  margin: 0 !important;
  height: 100% !important;
  width: 100% !important;
}

.site-nav-overlay {
  display: block;
  left: 280px;
  z-index: 900;
  position: absolute;
  height: 100%;
  width: 100%;
}

.nav-menu {
  position: fixed;
  width: 280px;
  height: 100%;
  background-color: #232322;
  ul {
    list-style-type: none;
    padding: 0px;
  }
  li {
    margin: 10px;
    a {
      color: grey;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: bold;
      font-size: 1.2em;
      &:hover {
        text-decoration: none;
        color: white;
      }
    }
    .active {
      color: white !important;
    }
  }
  i {
    margin-right: 10px;
  }
}

.social-links {
  position: absolute;
  left: 10px;
  bottom: 10px;
  a {
    color: grey;
    &:hover {
      color: white;
    }
  }
}

.menu-logo {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
  cursor: pointer;
}

.row {
  height: 100%;
}

.col-md-4,
.col-md-6,
.col-sm-6,
.col-xs-12 {
  padding: 0 !important;
}

.col-md-4 {
  height: 100%;
}

.info-bar {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-size: cover;
}

.info-bar-dark-overlay {
  position: absolute;
  bottom: 0;
  z-index: 50;
  width: 100%;
  height: 40%;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 89%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(89%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 89%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 89%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 89%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 89%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.info-bar-bottom {
  position: absolute;
  bottom: 0;
  padding: 0px 0px 0px 30px;
  width: 100%;
  height: 20%;
}

.section-title {
  position: absolute;
  color: white;
  font-family: 'Sacramento', cursive;
  font-weight: bold;
  font-size: 2em;
  z-index: 100;
  -webkit-font-smoothing: antialiased;
}

.section-subtitle {
  position: absolute;
  top: 40px;
  // color: #DEDEDC;
  color: white;
  font-family: 'Roboto Slab', serif;
  z-index: 100;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
}

.col-md-8 {
  padding: 0 !important;
  overflow: auto;
  background-color: white;
  min-height: 100% !important;
  width: 100%;
}

.right-content {
  height: 100%;
}

.index-header {
  color: grey;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #DEDEDC;
  -webkit-font-smoothing: antialiased;
}

.main-bucket {
  padding-bottom: 50px;
}

.main-header {
  height: 40px;
  border-top: 1px solid #dededc;
  border-bottom: 1px solid #dededc;
  -webkit-font-smoothing: antialiased;
  .header {
    font-size: 12px;
    color: #b3b3b1;
    font-family: "freight-sans-pro","Myriad","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    font-weight: 700;
    display: block;
    padding-bottom: 12px;
    padding-top: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transition: color .1s linear;
    -moz-transition: color .1s linear;
    -ms-transition: color .1s linear;
    -o-transition: color .1s linear;
    transition: color .1s linear;
  }
}

.post-bucket {
  border-bottom: 1px solid #f2f2f0;
}

.post-title {
  font-family: 'Myriad', sans-serif;
  font-weight: bold;
  font-size: 2.3em;
  -webkit-font-smoothing: antialiased;
}

.post-content {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  margin-bottom: 10px;
}

.post-footer {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  color: #b3b3b1;
  font-weight: 400;
}

.grid-item-wrapper {
  margin: 10px;
}

.grid-item {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 252px;
  background-size: cover;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  a {
    color: white;
  }
  &:hover {
    a {
      color: #DEDEDC;
      text-decoration: none;
    }
  }
}

.hidden-link {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 150;
}

.dark-overlay {
  position: absolute;
  bottom: 0;
  z-index: 50;
  width: 100%;
  height: 50%;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 89%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(89%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 89%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 89%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 89%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 89%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.grid-title {
  position: absolute;
  bottom: 0;
  z-index: 100;
  color: white;
  font-family: 'Myriad', sans-serif;
  font-size: 1.5em;
  padding: 20px;
}

.menu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}