.container {
  margin: 0 !important;
  height: 100% !important;
  width: 100% !important;
}

.nav-menu {
  position: fixed;
  width: 280px;
  height: 100%;
  background-color: #232322;
  ul {
    list-style-type: none;
    padding: 0px;
  }
  li {
    margin: 10px;
    a {
      color: grey;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: bold;
      &:hover {
        text-decoration: none;
        color: white;
      }
    }
  }
  i {
    margin-right: 10px;
  }
}

.menu-logo {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100;
  cursor:pointer;
}

.col-md-4 {
  padding: 0;
  height: 100%;
}

.info-bar {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image:url('https://s3-us-west-2.amazonaws.com/justsaywen/david_wen_new_york_city.JPG');
  background-size: cover;
}

.col-md-8 {
  padding: 0;
  overflow: auto;
  background-color: white;
}

.social-links {
  position: absolute;
  left: 10px;
  bottom: 10px;
  a {
    color: grey;
    &:hover {
      color: white;
    }
  }
}