.menu-logo.movable-by-menu
  = image_tag("https://s3-us-west-2.amazonaws.com/justsaywen/wen_logo.png", :width => 44)
.menu-logo-dup.movable-by-menu.clickable.hidden
  = image_tag("https://s3-us-west-2.amazonaws.com/justsaywen/wen_logo.png", :width => 44)