.nav-menu.hidden
  - 10.times do
    div
      | Nav link

javascript:
  $(document).ready(function() {
    $(".menu-logo").click(function(e) {
      e.preventDefault();
      if ($(".nav-menu").hasClass("hidden")) {
        $("body").attr("style", "overflow: hidden;");
        showNavMenu();
      }
    });
    $(".movable-by-menu").click(function() {
      if (!$(".nav-menu").hasClass("hidden")) {
        hideNavMenu();
        $("body").attr("style", "");
      }
    })
    $(".menu-logo").on('dragstart', function(e) {
      e.preventDefault();
    });
  });

  var showOptions = {
    duration: 100,
    complete: function() {
      $(".nav-menu").removeClass("hidden");
    }
  }

  var hideOptions = {
    duration: 100,
    complete: function () {
      $(".nav-menu").addClass("hidden");
    }
  }

  function showNavMenu() {
    $(".movable-by-menu").animate({
      left: "+=280px"
    }, showOptions);
  }

  function hideNavMenu() {
    $(".movable-by-menu").animate({
      left: "-=280px"
    }, hideOptions);
  }