a.btn.btn-primary type="button" data-toggle="modal" data-target="#email-modal" style="margin-bottom: 20px;"
  - word = ["if entertained", "if I made ya think", "if you're nice", "- please?", "<3", "la!", " - you'll like it", "- everyone's doing it"]
  = "Subscribe #{word.sample}"